h1 {
    
    margin-left: 45px;
    
    
    color: rgb(0, 3, 5);
    
    font-family: 'Satisfy', cursive;
}
a{
    
    
    color: rgb(17, 205, 186);
    text-decoration: none;
    font-family:Geneva;

}
h3{
    margin-left: 45px;
    
}
h2{
    margin-left: 45px;


}